<phpunit>
    <testsuites>
        <testsuite name="core">
            <file>tests/system/core/viewtest.php</file>
            <file>tests/system/core/exceptionstest.php</file>
            <file>tests/system/core/routertest.php</file>
        </testsuite>
        <testsuite name="database">
            <file>tests/system/database/drivers/mysqli/querybuildermysqlitest.php</file>
            <file>tests/system/database/drivers/postgresql/querybuilderpostgresqltest.php</file>
        </testsuite>
    </testsuites>
</phpunit>